body {
    background-color: #0f0f1a;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1, h2 {
    color: violet;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background: violet;
    color: white;
    border: none;
    border-radius: 8px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 80%;
}
